@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: rgb(255, 255, 255);
}
body {
  background-color: black;
}
.new-blog {
  color: rgb(255, 255, 255);
  background-color: #f1256d;
  border-radius: 8px;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #8f8686;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
button{
  color: black;
}

.blog-previev {
padding: 10px 16px;
margin: 20px 0;
border-bottom: 1px solid #fafafa;
}

.blog-previev:hover {
  box-shadow: 1px 3px 5px rgb(255, 255, 255);
}

.blog-previev h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-previev p {
  font-size: 20px;
  font-weight: normal;
}


.blog-previev a{
  text-decoration: none;
}